---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import fortuneTigerImage from '../assets/images/fortune-tiger.png'
import '../assets/css/default.css'
import Button from '../components/Button.astro';
import doubleArrowIcon from '../assets/images/double-arrow.svg'
import Icon from '../components/Icon.astro';
---

<Layout title="Bem-vindo ao Melhor Jogada." description='Aqui é pura diversão!'>
	<Header />
  <main class="w-full flex flex-col items-center justify-center gap-16 pb-16">
    <div class="w-full flex justify-center bg-gradient-to-t from-[#001e5a] pb-14 md:py-10">
      <section class="container">
        <div class="flex flex-col md:flex-row items-center gap-5 md:gap-10">
          <div class="flex-1">
            <div class="animate-bounce-hero max-w-[250px] md:max-w-[300px]">
              <Image src={fortuneTigerImage} alt="" srcset="">
            </div>
          </div>
          <div class="flex flex-col items-center md:items-start flex-1 text-center md:text-start">
            <h1>
              Indique um amigo pra jogar e garanta <span class="text-primary">10% de bônus* </span>!
            </h1>
            <Button msg='Entre agora!' />
          </div>
        </div>
      </section>
    </div>
    <div class="w-full flex justify-center">
      <section class="container">
        <h2 class="text-3xl text-center">Como ganhar seu bônus?</h2>
        <div class="flex flex-col md:flex-row items-center mt-10">
          <div class="step-by-step">
            <div class="counter">1</div>
            <div>
              <p class="title">Cadastre-se</p>
              <p class="subtitle">Faça seu cadastro no portal clicando <span class="text-primary">aqui</span></p>
            </div>
          </div>
          <div class="next-step text-primary">
            <Icon icon="double-arrow" />
          </div>
          <div class="step-by-step">
            <div class="counter">2</div>
            <div>
              <p class="title">Acesse</p>
              <p class="subtitle">No lado esquerdo da tela, acesse o link <span class="text-primary">“Indique e Ganhe”</span></p>
            </div>
          </div>
          <div class="next-step text-primary">
            <Icon icon="double-arrow" />
          </div>
          <div class="step-by-step">
            <div class="counter">3</div>
            <div>
              <p class="title">Envie o código</p>
              <p class="subtitle">Na página <span class="text-primary">“Sistema de Afiliados”</span>, copie o código do convite e envie para o seu amigo.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="w-full">
    <div class="w-full flex justify-center py-10 bg-gradient-to-r from-[#001e5a50]">
      <section class="container w-full flex flex-col md:flex-row items-center gap-10">
        <div class="flex-1">
          <img src="/logo.png" width="150px">
        </div>
        <div class="flex-1 flex flex-col gap-2">
          <a href="https://melhorjogada.com/pages/terms-and-conditions">Termos & condições</a>
          <a href="https://melhorjogada.com/pages/privacy-policy">Política de privacidade</a>
        </div>
        <div class="flex-1 flex flex-row justify-end gap-4">
          <a href="#">a</a>
          <a href="#">a</a>
          <a href="#">a</a>
        </div>
      </div>
    </div>
  </footer>
</Layout>

<style>
.container {
 @apply max-w-screen-lg px-4 md:px-0;
}

.step-by-step {
  @apply w-full flex items-center flex-row gap-5 min-h-[150px];
}

.next-step {
  @apply w-[20%] flex items-center justify-center animate-bounce-arrow-bottom md:animate-bounce-arrow-right;
}

.step-by-step .counter {
  @apply w-10 h-10 p-10 flex items-center justify-center rounded-full text-4xl border-2 border-primary text-primary
}

.step-by-step .title {
  @apply text-2xl
}

.step-by-step .subtitle {
  @apply text-sm
}
</style>
