---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bem-vindo!">
  <main>
    <div class="l-redirect-body">
      <header>
        <div>
          <img
            src="https://palpitou.bet/assets/images/logo/logo@2x.png"
            alt=""
            srcset=""
            width="100px"
          />
        </div>
      </header>
      <div class="l-wrapper">
        <div class="l-circle"></div>
        <div class="l-circle"></div>
        <div class="l-circle"></div>
        <div class="l-shadow"></div>
        <div class="l-shadow"></div>
        <div class="l-shadow"></div>
      </div>
    </div>
  </main>
</Layout>

<script>
  window.onload = () => {
    function callNext(link: string) {
      setTimeout(() => {
        link && window.location.replace(link);
      }, 3000);
    }

    callNext('/main');

    // loading animation created by Ahmad Emran - https://codepen.io/ahmadbassamemran/
  }
</script>

<style>
  main {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#fff800, #ff8000);
  }
  .l-wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .l-circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: l-circle 0.5s alternate infinite ease;
  }

  @keyframes l-circle {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0%;
    }
  }
  .l-circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }
  .l-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
  .l-shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: l-shadow 0.5s alternate infinite ease;
  }

  @keyframes l-shadow {
    0% {
      transform: scaleX(1.5);
    }
    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }
    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }
  .l-shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }
  .l-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  header {
    padding: 50px;
  }

  header img {
    display: block;
    margin: 0 auto;
  }

  .l-redirect-body {
    width: 100%;
    height: 100vh;
  }
</style>
