---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import fortuneTigerImage from '../assets/images/fortune-tiger.png'
import '../assets/css/default.css'
import Button from '../components/Button.astro';
---

<Layout title="Bem-vindo ao Melhor Jogada." description='Aqui é pura diversão!'>
	<Header />
  <main class="w-full flex flex-col items-center gap-10">
    <div class="w-full flex justify-center bg-gradient-to-t md:bg-gradient-to-r from-[#0099fc] pb-14 md:py-10">
      <section class="container">
        <div class="flex flex-col md:flex-row items-center gap-10">
          <div class="flex-1">
            <div class="max-w-[300px]">
              <Image src={fortuneTigerImage} alt="" srcset="">
            </div>
          </div>
          <div class="flex flex-col items-center md:items-center flex-1 text-center md:text-start">
            <h1>
              Download this <span class="text-primary">awesome</span> app
            </h1>
            <Button msg='teste' />
          </div>
        </div>
      </section>
    </div>
    <div class="w-full flex flex-col flex-row flex-wrap justify-center items-center">
      <section class="container">
        <div class="w-full flex flex-row">
          <div class="flex-1">t</div>
          <div class="flex-1">t</div>
          <div class="flex-1">t</div>
        </div>
      </section>
    </div>
  </main>
  <footer class="w-full pt-10">
    footer
  </footer>
</Layout>

<style>
.container {
 @apply max-w-screen-md px-4 md:px-0;
}
</style>
