---
interface Props {
	msg: string
}

const { msg } = Astro.props;
---

<button class="my-button">{ msg }</button>

<style scoped>
  .my-button {
    background: transparent;
    border: 2px solid #99cc33;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(153, 204, 51);
    border-bottom: 5px solid #99cc33;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 30px;
    min-width: 200px;
    width: fit-content;
    height: 40px;
    transition: 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;
  }

  .my-button:hover {
    @apply bg-primary;
    color: black;
  }
</style>
