---
import Icon from "./Icon.astro";
import { Image } from "astro:assets";
import gamblockImage from '../assets/images/gamblock.png';
import cyberpatrol from '../assets/images/cyberpatrol.png';
import more18 from '../assets/images/more18.webp';
---

<footer class="w-full">
  <div class="w-full flex justify-center py-10 bg-gradient-to-b from-[#001e5a]">
    <section class="container w-full flex flex-col md:flex-row items-center gap-10">
      <div class="flex-1">
        <img src="/logo.png" width="150px">
      </div>
      <div class="flex-1 flex flex-col gap-2">
        <a href="https://melhorjogada.com/pages/terms-and-conditions">Termos e condições</a>
        <a href="https://melhorjogada.com/pages/privacy-policy">Política de privacidade</a>
      </div>
      <div class="flex-1 flex justify-center items-center">
        <Image src={more18} alt="" width={75} />
      </div>
      <div class="flex-1 flex flex-col gap-2">
        <a href="http://www.gamblock.com/">
          <Image src={gamblockImage} alt="" width={100} />
        </a>
        <a href="http://www.cyberpatrol.com/">
          <Image src={cyberpatrol} alt="" width={100} />
        </a>
      </div>
      <div class="flex-1 flex flex-row items-center gap-10">
        <a href="https://www.facebook.com/suamelhorjogada" class="text-facebook">
          <Icon icon="facebook" />
        </a>
        <a href="https://www.instagram.com/melhorjogada" class="text-instagram">
          <Icon icon="instagram" />
        </a>
      </div>
    </div>
  </div>
</footer>
