---
import Button from '../components/Button.astro'
---

<header class="w-full max-w-screen-md">
  <div class="flex flex-row items-center justify-center md:justify-between py-5">
    <img src="/logo.png" width="200px">
    <div class="hidden md:block">
      <Button msg='Conhecer' />
    </div>
  </div>
</header>
