---
import Button from '../components/Button.astro'
import logo from '../assets/images/new_logo.png';
import { Image } from 'astro:assets';
---

<header class="w-full max-w-screen-lg px-4">
  <div class="flex flex-row items-center justify-center md:justify-between py-5">
    <Image src={logo} alt="" width={200} />
    <div class="hidden md:block">
      <Button msg='Conhecer' url='window.location = "https://www.melhorjogada.com"' />
    </div>
  </div>
</header>
