---
import Button from '../components/Button.astro'
---

<header class="w-full max-w-screen-lg px-4">
  <div class="flex flex-row items-center justify-center md:justify-between py-5">
    <img src="/new_logo.png" width="200px">
    <div class="hidden md:block">
      <Button msg='Conhecer' url='window.location = "https://www.melhorjogada.com"' />
    </div>
  </div>
</header>
