<div>teste 2</div>

<script>
// @ts-ignore
import SibApiV3Sdk from 'sib-api-v3-sdk';

let defaultClient = SibApiV3Sdk.ApiClient.instance;

let apiKey = defaultClient.authentications['api-key'];
apiKey.apiKey = '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';

let apiInstance = new SibApiV3Sdk.ContactsApi();

let createContact = new SibApiV3Sdk.CreateContact();

createContact.email = 'example2@example.com';
createContact.listIds = [2]

console.log(createContact)

apiInstance.createContact(createContact).then(function(data) {
  console.log('API called successfully. Returned data: ' + JSON.stringify(data));
}, function(error) {
  console.error(error);
});
</script>
